@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lateef:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.Button:hover span {
    width: 100%;
  }

  .home {
    /* Use fixed width and height */
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .home .header {
    /* Use fixed height and padding */
    height: 60px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
  }
  
  .home .header h1 {
    /* Use fixed font size */
    font-size: 24px;
    margin: 0;
  }
  
  .home .content {
    /* Use fixed padding and margin */
    padding: 20px;
    margin: 20px;
  }
  
  .home .content p {
    /* Use fixed font size and line height */
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  